<footer class="abso" style="z-index: 2;">

    <div class="f-info">

        <div class="f-info-socials">
            <a href="https://www.facebook.com/share/1FcnQqaKyz/?mibextid=qi2Omg" style="text-decoration: none;">
                <i class="fa-brands fa-facebook"></i>
            </a>&nbsp;

            <a href="https://www.instagram.com/" style="text-decoration: none;">
                <i class="fa-brands fa-square-instagram"></i>
            </a>&nbsp;

            <a href="https://www.linkedin.com/in/soumi-chattopadhyay-48b58131a ">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>

        <div class="f-company">
            <i class="fa-regular fa-copyright"></i>
            JoyHub Private Limited
        </div>

        <div class="f-info-links">
            <a href="/privacy"> Privacy</a>
            <a href="/terms"> Terms</a>
        </div>

    </div>

</footer>